
 @media (max-width: 768px) {

    body {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    header {
     justify-content: space-between;
     align-items: center;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul {
        display: none;
        position: absolute;
        background-color: #333;
        top: 3.7rem;
        left: 0;
        font-size: small;
        padding-bottom: 3px;
    }

    .nav-open nav ul {
        display: flex;
    } 
    
    .logo {
       display: flex;
        text-align: center;
       justify-self: center;
    }

    .logo h1 {
        font-size: 11px;
    }
    
    .logo h2 {
        font-size: 9px;
    }

    .player-desktop {
        display: none;
    }

main {
    display: flex;
    flex-direction: column;
}
 
.player-mobil {
    background: #333;
        font-size: 12pt;
        flex-wrap: nowrap;
    }
    

    .blog-area {
        width: 100%;
        text-align: justify;
        padding:  20px 20px 0;
    }

    .blog-area article {
        padding: 10px;
        font-size: small;
    }

    .blog-area ol {
        padding-left: 20px;
      }
      
      .blog-area img {
       width: 200px;  
       height: 200px;
      }
      
      .blog-area a, .blog-area a:visited {
        color: white;
      }

    .shorts-area {
    display: none;
    }

    .about {
        font-size: small;
        padding: 10px;
        width: 100%;
    }

    .sendeplan img {
        width: 100%;
        margin-left: 0;
    }

}
