* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(115, 93, 243);
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

 @media (max-width: 768px) {

    header {
     justify-content: space-between;
     align-items: center;
    }

    .menu-toggle {
        display: flex;
    }

    nav ul {
        display: none;
        position: absolute;
        background-color: #fc0202;
        top: 2.5rem;
        left: 0;
        font-size: small;
    }

    .nav-open nav ul {
        display: flex;
    } 
    
    .logo {
       display: flex;
        text-align: center;
       justify-self: center;
    }

    .logo h1 {
        font-size: 11px;
    }
    
    .logo h2 {
        font-size: 9px;
    }

    .player-desktop {
        display: none;
    }

main {
    display: flex;
    flex-direction: column;
}
 
.player-mobil {
    background: #333;
        font-size: 12pt;
        flex-wrap: nowrap;
    }
    .playbutton {
        display: flex;
        width: 2.5vw;
        height: 2vw;
        font-size: 24px;
        /* background: rgb(115, 93, 243);
        border-radius: 50%; */
        margin-right: 10px;
        justify-content: center;
        align-items: center;
      }
      
      .playbutton a, .info a {
        display: flex;
        color: white;
        text-decoration: none;
        font-size: smaller;
        justify-content: center;
        
      }
      
      .info {
        display: flex;
        font-family: monospace;
        height: 2vw;
        width: 100%;
        background: rgb(115, 93, 243);
        font-size: 24px;
        border-radius: 10px;
        align-items: center;
        padding-left: 10px;
        overflow-x: auto;
      }

    .blog-area {
        width: 100%;
        text-align: justify;
        padding-right: 30px;
        padding-top: 30px;
    }

    .shorts-area {
    display: none;
    }
}
